# 概述

*** pandas的axis参数怎么理解

* axis=0或者”index"
    * 如果是单行操作，就是指的某一行
    * 如果是聚合操作，指的是跨行cross rows
* axis=1或者‘columns"
    * 如果是单列操作，就是指的某一列
    * 如果是聚合操作，指的是cross columns
    
***按哪个axis,就是这个axis要动起来（类似被for遍历），quit他axis保持不动***

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A','B','C','D']
)

In [5]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

# 单列drop,就是删除某一列

In [6]:
df.drop('A',axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

# 单行drop,就是删除某一行

In [7]:
df.drop(1,axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

# 按axis=0/index执行mean聚合操作

In [8]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
# 行动起来，列不动,所以是列结果
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [10]:
df.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

In [11]:
def get_sum_value(x):
    return x['A']+x['B']+x['C']+x['D']

df['sum_value'] = df.apply(get_sum_value,axis=1)

In [12]:
df

   A  B   C   D  sum_value
0  0  1   2   3          6
1  4  5   6   7         22
2  8  9  10  11         38

***指定了哪个axis，就是这个axis要动起来（类似被for遍历），其他axis保持不动***