In [1]:
import pandas as pd

In [2]:
fPath = './datas/餐饮人大学高级推广员名单0325.xls'

In [3]:
data = pd.read_excel(fPath)

In [4]:
data.head()

   大区 负责人 高级推广员           电话
0   1  李庆   杨正伟  13752875696
1   1  李庆    杨洋  18881930731
2   1  李庆   柏欣艳  15922590801
3   1  李庆    黄雨  13212370108
4   1  李庆   熊海燕  13635372037

In [5]:
data["temp"] = '战队'
data.loc[:,'战队'] =data['高级推广员'].str.cat(data["temp"])

In [6]:
data.head()

   大区 负责人 高级推广员           电话 temp     战队
0   1  李庆   杨正伟  13752875696   战队  杨正伟战队
1   1  李庆    杨洋  18881930731   战队   杨洋战队
2   1  李庆   柏欣艳  15922590801   战队  柏欣艳战队
3   1  李庆    黄雨  13212370108   战队   黄雨战队
4   1  李庆   熊海燕  13635372037   战队  熊海燕战队

In [7]:
data['密码']='a123456'

In [8]:
data.head()

   大区 负责人 高级推广员           电话 temp     战队       密码
0   1  李庆   杨正伟  13752875696   战队  杨正伟战队  a123456
1   1  李庆    杨洋  18881930731   战队   杨洋战队  a123456
2   1  李庆   柏欣艳  15922590801   战队  柏欣艳战队  a123456
3   1  李庆    黄雨  13212370108   战队   黄雨战队  a123456
4   1  李庆   熊海燕  13635372037   战队  熊海燕战队  a123456

In [9]:
data["temp"] = '晟道'
data['用户名'] = data['temp'].str.cat(data['高级推广员'])

In [10]:
data

    大区  负责人 高级推广员           电话 temp     战队       密码    用户名
0    1   李庆   杨正伟  13752875696   晟道  杨正伟战队  a123456  晟道杨正伟
1    1   李庆    杨洋  18881930731   晟道   杨洋战队  a123456   晟道杨洋
2    1   李庆   柏欣艳  15922590801   晟道  柏欣艳战队  a123456  晟道柏欣艳
3    1   李庆    黄雨  13212370108   晟道   黄雨战队  a123456   晟道黄雨
4    1   李庆   熊海燕  13635372037   晟道  熊海燕战队  a123456  晟道熊海燕
..  ..  ...   ...          ...  ...    ...      ...    ...
78   4  钟文杰    王琳  15149338931   晟道   王琳战队  a123456   晟道王琳
79   4  钟文杰   王雨洋  15100986788   晟道  王雨洋战队  a123456  晟道王雨洋
80   4  钟文杰   马晓龙  13347106979   晟道  马晓龙战队  a123456  晟道马晓龙
81   4  钟文杰    巩鹏  13792181212   晟道   巩鹏战队  a123456   晟道巩鹏
82   4  钟文杰   荣珏梒  15831616120   晟道  荣珏梒战队  a123456  晟道荣珏梒

[83 rows x 8 columns]

In [11]:
data.loc[:,'大区']

0     1
1     1
2     1
3     1
4     1
     ..
78    4
79    4
80    4
81    4
82    4
Name: 大区, Length: 83, dtype: int64

In [12]:
def change_value(x):
    if x['大区']==1:
        return '一大区'
    if x['大区']==2:
        return '二大区'
    if x['大区']==3:
        return '三大区'
    if x['大区']==4:
        return '四大区'

In [13]:
data.loc[:,'大区'] = data.apply(change_value,axis=1)

In [14]:
data

     大区  负责人 高级推广员           电话 temp     战队       密码    用户名
0   一大区   李庆   杨正伟  13752875696   晟道  杨正伟战队  a123456  晟道杨正伟
1   一大区   李庆    杨洋  18881930731   晟道   杨洋战队  a123456   晟道杨洋
2   一大区   李庆   柏欣艳  15922590801   晟道  柏欣艳战队  a123456  晟道柏欣艳
3   一大区   李庆    黄雨  13212370108   晟道   黄雨战队  a123456   晟道黄雨
4   一大区   李庆   熊海燕  13635372037   晟道  熊海燕战队  a123456  晟道熊海燕
..  ...  ...   ...          ...  ...    ...      ...    ...
78  四大区  钟文杰    王琳  15149338931   晟道   王琳战队  a123456   晟道王琳
79  四大区  钟文杰   王雨洋  15100986788   晟道  王雨洋战队  a123456  晟道王雨洋
80  四大区  钟文杰   马晓龙  13347106979   晟道  马晓龙战队  a123456  晟道马晓龙
81  四大区  钟文杰    巩鹏  13792181212   晟道   巩鹏战队  a123456   晟道巩鹏
82  四大区  钟文杰   荣珏梒  15831616120   晟道  荣珏梒战队  a123456  晟道荣珏梒

[83 rows x 8 columns]

In [15]:
data.rename(columns={'负责人':'大区负责人','高级推广员':'姓名'})

     大区 大区负责人   姓名           电话 temp     战队       密码    用户名
0   一大区    李庆  杨正伟  13752875696   晟道  杨正伟战队  a123456  晟道杨正伟
1   一大区    李庆   杨洋  18881930731   晟道   杨洋战队  a123456   晟道杨洋
2   一大区    李庆  柏欣艳  15922590801   晟道  柏欣艳战队  a123456  晟道柏欣艳
3   一大区    李庆   黄雨  13212370108   晟道   黄雨战队  a123456   晟道黄雨
4   一大区    李庆  熊海燕  13635372037   晟道  熊海燕战队  a123456  晟道熊海燕
..  ...   ...  ...          ...  ...    ...      ...    ...
78  四大区   钟文杰   王琳  15149338931   晟道   王琳战队  a123456   晟道王琳
79  四大区   钟文杰  王雨洋  15100986788   晟道  王雨洋战队  a123456  晟道王雨洋
80  四大区   钟文杰  马晓龙  13347106979   晟道  马晓龙战队  a123456  晟道马晓龙
81  四大区   钟文杰   巩鹏  13792181212   晟道   巩鹏战队  a123456   晟道巩鹏
82  四大区   钟文杰  荣珏梒  15831616120   晟道  荣珏梒战队  a123456  晟道荣珏梒

[83 rows x 8 columns]

In [16]:
del data['temp']

In [17]:
data

     大区  负责人 高级推广员           电话     战队       密码    用户名
0   一大区   李庆   杨正伟  13752875696  杨正伟战队  a123456  晟道杨正伟
1   一大区   李庆    杨洋  18881930731   杨洋战队  a123456   晟道杨洋
2   一大区   李庆   柏欣艳  15922590801  柏欣艳战队  a123456  晟道柏欣艳
3   一大区   李庆    黄雨  13212370108   黄雨战队  a123456   晟道黄雨
4   一大区   李庆   熊海燕  13635372037  熊海燕战队  a123456  晟道熊海燕
..  ...  ...   ...          ...    ...      ...    ...
78  四大区  钟文杰    王琳  15149338931   王琳战队  a123456   晟道王琳
79  四大区  钟文杰   王雨洋  15100986788  王雨洋战队  a123456  晟道王雨洋
80  四大区  钟文杰   马晓龙  13347106979  马晓龙战队  a123456  晟道马晓龙
81  四大区  钟文杰    巩鹏  13792181212   巩鹏战队  a123456   晟道巩鹏
82  四大区  钟文杰   荣珏梒  15831616120  荣珏梒战队  a123456  晟道荣珏梒

[83 rows x 7 columns]

In [18]:
data.to_excel('shuchu.xlsx')

In [19]:
data.describe()

                 电话
count  8.300000e+01
mean   1.519594e+10
std    2.119739e+09
min    1.302018e+10
25%    1.365433e+10
50%    1.394053e+10
75%    1.630935e+10
max    1.898149e+10